<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Catalog Site</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="{% url_for('showCatalog') %}">Catalog App</a>
                <ul class="nav navbar-nav">
                    <li><a href="{% url_for('showCatalog') %}">Home</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url_for('login') %}">Login</a></li>
                </ul>

            </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
