<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('showCatalog') }}">Catalog App</a>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('showCatalog') }}">Home</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('signup') }}"></a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                <h2 style="text-align:center;">Sign Up</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <form action="{{ url_for('login') }}" method="post">
                            <div class="form-group">

                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <h2>Third Party Login here</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
